@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,600;1,400;1,700&display=swap');
.modal-header{
    text-align: center;
    font-family: 'Bodoni Moda', serif;
    font-size: 1.4em;

}
.modal-text{
    font-size: 1.3em;
    font-family: 'Bodoni Moda', serif;
}