#login {
    background-image: url("./images/4.jpeg");
    background-size: cover;
    background-position: bottom;
}
#login .container #login-row #login-column #login-box  {
    /* margin-top: 120px; */
    max-width: 500px;
    /* height: 600px; */
    /* height: 500px; */
    /* flex-basis: auto; */
    /* flex: auto; */
    display: flex;
    flex-direction: column;
    /* flex-basis: 600px; */
    /* flex-basis: content; */
    /* border: 1px solid #9C9C9C;
    background-color: #EAEAEA; */
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: var( --border-radius);
    box-shadow: var(--light-shadow);
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}
#start_err,#end_err,#total_nights_err,#num_guests_err{
    color:crimson;
    /* background:darkgrey; */
}

#login .label {
    color: var(--secondary-color);
}

#login #submit {
    font-size: 1.15em;
    font-weight: 500;
    color: #fff;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 0.4em 2em;
    margin-top: 15px;
    transition: var(--transition);
}

#login #submit:hover,
#login #submit:focus {
    color: var(--secondary-color);
    background-color: transparent;
}
